---
// Global
import PortfolioLayout from '@layouts/PortfolioLayout.astro';
import Breadcrumb from '@components/Breadcrumb.astro';
import { Image } from 'astro:assets';
import { Icon } from 'astro-icon'

// Components
import Header from '@components/Header.astro';
import PortfolioBlock from '@components/PortfolioBlock.astro';
import TextBlock from '@components/TextBlock.astro';
import ImageContainer from '@components/ImageContainer.astro';
import InnerText from '@components/PortfolioInnerText.astro';
import CodeSnippetGroup from '@components/CodeSnippetGroup.astro';
import CodeSnippet from '@components/CodeSnippet.astro';
import LinkEffectGlitch from '@components/LinkEffectGlitch.astro';

// Images
import ScreenshotBenefitsManagaement from '@assets/images/PortfolioItem/PorfolioItem-EN-BenefitsManagementSaaS@2x.png'
import ScreenshotEmployeeExperience from '@assets/images/PortfolioItem/PorfolioItem-EN-EmployeeExperience@2x.png'
import ScreenshotDesignSystem from '@assets/images/PortfolioItem/PorfolioItem-EN-DesignSystem@2x.png'
import ScreenshotUXResearch from '@assets/images/PortfolioItem/PortfolioItem-EN-UXResearch@2x.png'
import CodeSnippetButtons from '@assets/images/CodeSnippet/EN23Buttons@2x.png'
import ENBulletedList from '@assets/images/CodeSnippet/ENBulletedList@2x.png'

// Variables & Fun Stuff
const { pageTitle = "Brivo" } = Astro.props;

---

<PortfolioLayout title={pageTitle} size="base">
	<section class="portfolio-intro">
		<Header>
		</Header>

		<div class="spacer-default"></div>

		<Breadcrumb firstTitle="Portfolio" firstLink="/work/" pageTitle={pageTitle}></Breadcrumb>

		<h2>I redesigned two products, built a design system, mentored two designers, and lead the design team at Employee Navigator.</h2>

		<h3>Our products deliver benefits to over 13,000,000 employees working at 150,000 businesses across the United States. With a 97% customer satisfaction rating, our customers are highly engaged in shaping the best-in-class user experience for benefits administration.</h3>
		<h3>As a design generalist, I lead design efforts across the marketing, product, and engineering teams. I’m responsible for Employee Navigator’s brand, design team, design process, and the overall product experience. I delivered grounded and feasible solutions by working closely with developers, stakeholders, and the product team. I enjoy working closely with users to understand their needs, using real input and observations to shape and inform our outputs.</h3>

		<div class="portfolio-divider"></div>
		</section>

	<PortfolioBlock title="Benefit Administration Cloud Software" slug="benefits-management">
		<InnerText>
			<h2>Benefits Management</h2>
			<p>Employee Navigator's core product allows benefits administrators to manage their brokerage and HR teams to manage employees and their benefits in a <em class="tooltip">cloud-based SaaS B2B platform</em>.</p>
			<ul>
				<li>Led UX/UI refactor, where designers & developers identified and fixed 100+ UX/UI issues</li>
				<li>Released a new & improved visual design language in 2023</li>
				<li>Shipped dozens of user-tested solutions by collaborating closely with PMs & developers to identify problems, build solutions, and test designs.
					<ul>
						<li>Notable features: new user management system (called “Licensee”), paperless authorization, plan import via API, and integration-related dashboards & workflows.</li>
					</ul>
				</li>


			</ul>
		</InnerText>
		<ImageContainer
			width="1024px"
			height="300px">
			<Image src={ScreenshotBenefitsManagaement} alt="Thumbnail of UI Mockups from Employee Navigator" style="object-fit: cover; height: 100%; width: 100%;"  />
		</ImageContainer>
	</PortfolioBlock>

	<TextBlock>
		<span>The design work from Employee Navigator is only a small preview. For more detailed UX & UI breakdowns, please view my work for <a href="/work/brivo" class="link-brivo">Brivo</a>, <a href="/work/elo/" class="link-elo">Elo</a>, or <a href="/work/shadow/" class="link-shadow">Shadow</a>.</span>
	</TextBlock>

	<PortfolioBlock title="Employee Experience" slug="employee-experience">
		<InnerText>
			<h2>Employee Experience</h2>
			<p>Employee Navigator allows employees of any company on our platform to login, select and manage benefits, view documents and messages, request or manage PTO, and complete a variety of HR-assigned tasks. This experience is maintained as a separate product.</p>
			<ul>
				<li>Developed & implemented a new design language with updated colors, iconography, typography, less borders, and more.</li>
				<li>The goal was to introduce an updated theme that was familiar & comfortable to existing users.</li>
				<li>We grouped over 120+ UX/UI issues into 11 common themes, and worked alongside a variety of product managers & developers to implement user-facing solutions and fixes.</li>
			</ul>
		</InnerText>
		<ImageContainer
			width="1024px"
			height="413px">
			<Image src={ScreenshotEmployeeExperience} alt="Thumbnail of UI Mockups from Employee Navigator" style="object-fit: cover; height: 100%; width: 100%;"  />
		</ImageContainer>
	</PortfolioBlock>

	<PortfolioBlock title="Design System" slug="ux-research">
		<InnerText>
			<h2>Design System</h2>
			<p>Developed a series of patterns and components that could be used by designers or developers. Created and maintained 30+ synced Figma & Vue-based Storybook components by collaborating with frontend engineers.</p>
			<ul>
				<li>We maintained foundational systems (color, icons, typography, etc.), implemented design tokens, and developed a series of reusable patterns (for tables, forms, sidebars, etc.)</li>
				<li>Created linked Figma libraries for all marketing and product design work.</li>
				<li>The goal was to give a shared language and more collaborative workflows for designers & developers.</li>
			</ul>
		</InnerText>
		<ImageContainer
			width="1024px"
			height="393px">
			<Image src={ScreenshotDesignSystem} alt="Thumbnail of UI Mockups from Employee Navigator" style="object-fit: cover; height: 100%; width: 100%;"  />
		</ImageContainer>
	</PortfolioBlock>

	<PortfolioBlock title="Design System" slug="design-system">
		<InnerText>
			<h2>UX Research</h2>
			<p>Building a successful digital product requires you continually learn from your users. By utilizing UX research, we’re able to identify the root cause and build workflows, interactions, and experiences that our customers love, all before writing a single line of code.</p>
			<ul>
				<li>Created EN First Look, a research program that allowed our users to opt-in for beta tests & UX product research sessions. Served as an internal CRM for research participants. Both users and PMs loved this program. Based on <a href="https://about.gitlab.com/community/gitlab-first-look/" target="_blank">Gitlab First Look</a>.</li>
				<li>Shared resources, best practices, and templates with product team. Conducted hands-on learning sessions and continually advocated for informing design decisions with user research.</li>
				<li>Regularly conducted & shared user research findings with product team</li>
			</ul>
		</InnerText>
		<ImageContainer
			width="1024px"
			height="467px">
			<Image src={ScreenshotUXResearch} alt="Thumbnail of UI Mockups from Employee Navigator" style="object-fit: cover; height: 100%; width: 100%;"  />
		</ImageContainer>
	</PortfolioBlock>

	<CodeSnippetGroup>
		<h2>Code Snippets</h2>
		<p>Design is cool, but so is code! Here are a few HTML/CSS snippets I wrote and shared in 2022-2023.</p>
		<CodeSnippet title="Tabs, Buttons & Input (UI Test)" href="https://codepen.io/mattc0m/pen/ExOpaPB">
			<Image slot="image" src={CodeSnippetButtons} alt="Thumbnail of UI Mockups from Employee Navigator" style="object-fit: cover; height: 100%; width: 100%;"  />
		</CodeSnippet>
		<CodeSnippet title="Numbered list with alternating colors" href="https://codepen.io/mattc0m/pen/rNdMjKX">
			<Image slot="image" src={ENBulletedList} alt="Thumbnail of UI Mockups from Employee Navigator" style="object-fit: cover; height: 100%; width: 100%;"  />
		</CodeSnippet>


	</CodeSnippetGroup>
	<p><LinkEffectGlitch title="test" /></p>




	</section>
</PortfolioLayout>