---
// Global
import PortfolioLayout from '@layouts/PortfolioLayout.astro';
import Breadcrumb from '@components/Breadcrumb.astro';
import { Image } from 'astro:assets';
import { Icon } from 'astro-icon'

// Components
import Header from '@components/Header.astro';
import PortfolioBlock from '@components/PortfolioBlock.astro';
import TextBlock from '@components/TextBlock.astro';
import ImageContainer from '@components/ImageContainer.astro';
import InnerText from '@components/PortfolioInnerText.astro';
import CodeSnippetGroup from '@components/CodeSnippetGroup.astro';
import CodeSnippet from '@components/CodeSnippet.astro';
import LinkEffectGlitch from '@components/LinkEffectGlitch.astro';
import Divider from '@components/Divider.astro';

// Images
import ScreenshotBrivoAccess from '@assets/images/PortfolioItem/PorfolioItem-Full-Brivo-Access.svg'

// Variables & Fun Stuff
const { pageTitle = "Brivo" } = Astro.props;

---

<PortfolioLayout title={pageTitle} size="flex">
	<section class="portfolio-intro">
		<Header>
		</Header>

		<div class="spacer-default"></div>

		<Breadcrumb firstTitle="Portfolio" firstLink="/work/" pageTitle={pageTitle}></Breadcrumb>

		<h2>I designed and launched a B2B SaaS product, a mobile app, a design system, and lead the design team while at Brivo.</h2>

		<h3>Brivo develops cloud-based access control software. It allows small businesses and enterprise security teams to remotely manage their devices, control door access, provision and sync credentials, monitor and track security events, and more. The platform can further be automated by integrated with existing identity providers, like Azure, Google, or Okta.</h3>
		<h3>As Brivo’s first lead product designer, I worked closely with the product team to establish a culture and process to ship high-quality, well-researched design solutions. I led a small, two-person design team who created design solutions for all our web and mobile products.</h3>
		<h3>I lead the design team as we worked closely with product and engineering teams to build a multi-platform design system, shipped 20+ major product features, and completely redesigned the two core products: Brivo Access and Brivo Mobile Pass.</h3>

		</section>

	<PortfolioBlock title="Benefit Administration Cloud Software" slug="benefits-management">
		<div class="fullwidth-container" style="display: flex; align-items: center;">
			<img src={ScreenshotBrivoAccess.src} height={ScreenshotBrivoAccess.height} width={ScreenshotBrivoAccess.width} alt="Thumbnail of UI Mockups from Employee Navigator"
			style="
				object-fit: cover;
				width: 100%;
				height: 100%;
				max-height: 963px;
				max-width: 1830px;
				margin: 0 auto;
			"
			/>
		</div>
		<InnerText>
			<h2>Benefits Management</h2>
			<p>Employee Navigator's core product allows benefits administrators to manage their brokerage and HR teams to manage employees and their benefits in a <em class="tooltip">cloud-based SaaS B2B platform</em>.</p>
			<ul>
				<li>Led UX/UI refactor, where designers & developers identified and fixed 100+ UX/UI issues</li>
				<li>Released a new & improved visual design language in 2023</li>
				<li>Shipped dozens of user-tested solutions by collaborating closely with PMs & developers to identify problems, build solutions, and test designs.
					<ul>
						<li>Notable features: new user management system (called “Licensee”), paperless authorization, plan import via API, and integration-related dashboards & workflows.</li>
					</ul>
				</li>
			</ul>
			<Divider />
		</InnerText>
	</PortfolioBlock>


	<TextBlock>
		<span>The design work from Employee Navigator is only a small preview. For more detailed UX & UI breakdowns, please view my work for <a href="/work/brivo" class="link-brivo">Brivo</a>, <a href="/work/elo/" class="link-elo">Elo</a>, or <a href="/work/shadow/" class="link-shadow">Shadow</a>.</span>
	</TextBlock>

	<PortfolioBlock title="Employee Experience" slug="employee-experience">
		<InnerText>
			<h2>Employee Experience</h2>
			<p>Employee Navigator allows employees of any company on our platform to login, select and manage benefits, view documents and messages, request or manage PTO, and complete a variety of HR-assigned tasks. This experience is maintained as a separate product.</p>
			<ul>
				<li>Developed & implemented a new design language with updated colors, iconography, typography, less borders, and more.</li>
				<li>The goal was to introduce an updated theme that was familiar & comfortable to existing users.</li>
				<li>We grouped over 120+ UX/UI issues into 11 common themes, and worked alongside a variety of product managers & developers to implement user-facing solutions and fixes.</li>
			</ul>
		</InnerText>
	</PortfolioBlock>

	<PortfolioBlock title="Design System" slug="ux-research">
		<InnerText>
			<h2>Design System</h2>
			<p>Developed a series of patterns and components that could be used by designers or developers. Created and maintained 30+ synced Figma & Vue-based Storybook components by collaborating with frontend engineers.</p>
			<ul>
				<li>We maintained foundational systems (color, icons, typography, etc.), implemented design tokens, and developed a series of reusable patterns (for tables, forms, sidebars, etc.)</li>
				<li>Created linked Figma libraries for all marketing and product design work.</li>
				<li>The goal was to give a shared language and more collaborative workflows for designers & developers.</li>
			</ul>
		</InnerText>
	</PortfolioBlock>

	<PortfolioBlock title="Design System" slug="design-system">
		<InnerText>
			<h2>UX Research</h2>
			<p>Building a successful digital product requires you continually learn from your users. By utilizing UX research, we’re able to identify the root cause and build workflows, interactions, and experiences that our customers love, all before writing a single line of code.</p>
			<ul>
				<li>Created EN First Look, a research program that allowed our users to opt-in for beta tests & UX product research sessions. Served as an internal CRM for research participants. Both users and PMs loved this program. Based on <a href="https://about.gitlab.com/community/gitlab-first-look/" target="_blank">Gitlab First Look</a>.</li>
				<li>Shared resources, best practices, and templates with product team. Conducted hands-on learning sessions and continually advocated for informing design decisions with user research.</li>
				<li>Regularly conducted & shared user research findings with product team</li>
			</ul>
		</InnerText>
	</PortfolioBlock>

	<CodeSnippetGroup>
		<h2>Code Snippets</h2>
		<p>Design is cool, but so is code. Here's a couple snippets I've written in 2020-2021.</p>
	</CodeSnippetGroup>
	<p><LinkEffectGlitch title="test" /></p>




	</section>
</PortfolioLayout>


<style>
	.ImageContainer {
		border: 0;
	}
</style>