---
import type { CollectionEntry } from 'astro:content';
import { getCollection } from "astro:content";
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import FormattedDate from '../components/FormattedDate.astro';
import Breadcrumb from '../components/Breadcrumb.astro';
import CodeSnippet from '@components/CodeSnippet.astro';
import CodeSnippetGroup from '@components/CodeSnippetGroup.astro';
import { Image } from 'astro:assets';
import "@styles/overrides.css";

type Props = CollectionEntry<'portfolio'>['data'];

const posts = await getCollection('codesnippet');

const { title, jobTitle, dateRange, layoutType = "base"  } = Astro.props;
---

<html lang="en">
	<head>
		<BaseHead title={title} description="description" />
		<style>
		</style>
	</head>

	<body>
		<div class:list={[ `size-${layoutType}`, 'portfolio-container' ]}>
			<div class="portfolio-header">
				<Header />
				<Breadcrumb firstTitle="Portfolio" firstLink="/portfolio/" pageTitle={title}></Breadcrumb>
			</div>
			<main>
				<slot />

				<!-- disabled codesnippets for now. need to implement filtering
				<CodeSnippetGroup>
					<h2>Code Snippets</h2>
					<p>Design is cool, but so is code. Here are a few HTML/CSS snippets I wrote and shared while working at {title}.</p>


					{
						posts.map((post) => (
							<CodeSnippet title={post.data.title} href={post.data.href} thumbnailUrl={post.data.thumbnailUrl} } />
						))
					}

				</CodeSnippetGroup>
				 -->
			</main>
			<Footer />
		</div>
	</body>
</html>
