---
export interface Props {
  src: string;
  alt: string;
  href?: string;
  cssClass?: string;
  textClass?: string;
  target?: string;
}

const { cssClass, textClass, src, alt, href, target = "_blank" } = Astro.props;
---

{href ?
  <a href={href} target={target}>
    <div class:list={[ 'image-container', cssClass ]}>
      <div class="image">
        <img src={src} alt={alt}/>
      </div>
      <div class:list={[ 'caption', textClass ]}><slot name="caption"/></div>
    </div>
  </a>
:
  <div class:list={[ 'image-container', cssClass ]}>
    <div class="image">
      <img src={src} alt={alt}/>
    </div>
    <div class:list={[ 'caption', textClass ]}><slot name="caption"/></div>
  </div>
}



<style>
  :root {
    --image-border-radius: var(--container-border-radius);
    --image-box-shadow-hover: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  }
  .image-container, a.image-container { position: relative; display: inline-block; }
  .image { max-width: 100%; }
  .image img {
    object-fit: var(--image-object-fit,cover);
    border-radius: var(--image-border-radius);
    box-shadow: var(--image-box-shadow);
    border: var(--image-border) solid var(--image-border-color);
    box-shadow: var(--image-box-shadow);
    transition: .2s ease;
  }
  .clickable .image img {
    cursor: pointer;
    &:hover {
      box-shadow: var(--image-box-shadow-hover);
    }
  }
  .clickable.brivo .image img {
    border: 2px solid var(--dark-primary);
    &:hover {
      border: 2px solid var(--brand-brivo-accent);
    }
  }
  .image-container {
    /* technically more of a text overlay for images, need to re-style as a more basic caption component or make this a variant */
    .caption {
      display: none;
      position: absolute;
      bottom: 0px;
      padding: var(--spacer-ui-base-unit);
      left: 0;
      right: 0;
      width: 100%;
      background: var(--caption-background, linear-gradient(0deg, #131414 23.03%, rgba(19, 20, 20, 0.00) 100%));
      border-radius: 0 0 var(--image-border-radius) var(--image-border-radius);
      pointer-events: none;
      p, .text, div {
        font-size: 14px;
        color: var(--site-background);
      }
    }
    &.hasCaption .caption { display: block; }
    .caption.hasCaption { display: block; }
  }
</style>